/*–––––GENERAL RULE–––––*/
body {
	font-family: 'Roboto', sans-serif;
}
h1 {
	margin: 0;
	text-align: center;
	font-weight: normal;
}
h3 {
	font-size: 26px;
	margin: 0;
}
a {
	text-decoration: none;
}
p {
	font-size: 18px;
}
.subtitle {
	margin: 0 0 50px 0;
	font-size: 32px;
}
.subtitle:after {
	display: block;
	position: relative;
	content: "";
	height: 5px;
	width: 60px;
	top: 10px;
	background-color: rgb(19, 149, 218);
}
.subtitle-center {
	margin: 0 0 50px 0;
	font-size: 32px;
	position: relative;
}
.subtitle-center:after {
	display: block;
	position: absolute;
	content: "";
	height: 5px;
	width: 60px;
	left: 0;
	right: 0;
	top: 65px;
	bottom: 0;
	background-color: rgb(19, 149, 218);
	margin: 0 auto;
}

/*—————HEADER—————*/
.navbar {
	margin: 0;
}
.navbar-default {
	background-color: rgb(44, 44, 44);
	border: none;
	border-radius: 0;
	padding: 10px 0;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	font-weight: bold;
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus {
	font-weight: bold;
	color: #fff;
}

/*—————PROMO—————*/
.promo {
	background-image: url(../img/promo-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.main-title {
	color: #fff;
	font-size: 66px;
	width: 700px;
	margin: 0 auto;
}
.promo {
	min-height: 500px;
	padding: 120px 0 30px 0;
}
.main-title {
	font-size: 32px;
	color: #fff;
	width: 330px;
	margin: auto;
	line-height: 40px;
	margin-bottom: 160px;
}
.main-button {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	border: 1px solid white;
	height: 40px;
	width: 120px;
	line-height: 38px;
}
.main-button:hover {
	border: 1px solid #fff;
	line-height: 38px;
	text-decoration: none;
	color: #fff;
}
.main-button:active {
	border: 1px solid #eee;
	line-height: 38px;
	text-decoration: none;
	color: #fff;
}
@media (min-width: 480px) {
	.promo {
		min-height: 545px;
		padding: 120px 0 30px 0;
	}
	.main-title {
		font-size: 44px;
		color: #fff;
		width: 460px;
		margin: auto;
		line-height: 60px;
		margin-bottom: 160px;
	}
}
@media (min-width: 992px) {
	.promo {
		min-height: 645px;
		padding: 170px 0 30px 0;
	}
	.main-title {
		font-size: 66px;
		color: #fff;
		width: 700px;
		margin: auto;
		line-height: 80px;
		margin-bottom: 180px;
	}
}

/*—————ABOUT—————*/
.about {
	padding: 90px 0 70px 0;
}
.about-item {
	display: block;
	position: relative;
	height: 70px;
	padding-left: 90px;
	font-size: 18px;
	width: 250px;
	margin: auto;
	margin-bottom: 20px;
}
@media (max-width: 479px) {
	.about {
		padding: 50px 0 10px 0;
	}
	.xs-twelve {
		width: 100%;
	}
}
.about-item:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;

	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}
.sprite-icon-about-thumbs-up:before {
	width: 56px;
	height: 58px;
	background-position: -282px -10px;
}
.sprite-icon-about-glasses:before {
	width: 75px;
	height: 28px;
	background-position: -187px -10px;
}
.sprite-icon-about-camera:before {
	width: 65px;
	height: 50px;
	background-position: -102px -10px;
}
.sprite-icon-about-binoculars:before {
	width: 72px;
	height: 34px;
	background-position: -10px -10px;
}

/*—————BRIEFLY—————*/
.briefly-img {
	width: 100%;
	height: auto;
}

/*—————GALLERY—————*/


/*—————HOW TO—————*/


/*—————ADDITIONAL INFO—————*/
.additional-info {
	padding: 65px 0 60px 0;
}
.faq {
	font-weight: bold;
	margin-bottom: 10px;
}
.faq:before {
	content: "";
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 40px;
	height: 34px;
	background-position: -517px -10px;
	vertical-align: middle;
	margin-right: 15px;
}
.faq-answers {
	padding-left: 75px;
	font-size: 16px;
	margin: 0 0 50px 0;
}

/*—————DATA—————*/
.data-info {
	background-image: url(../img/data-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 370px;
	text-align: center;
	padding: 70px 0 40px 0;
}
.data-info-item {
	width: 150px;
	height: 150px;
	border: 5px solid rgb(253, 253, 253);
	border-radius: 100px;
	text-align: center;
	margin: 0 auto;
}
.data-info-number {
	font-size: 42px;
	line-height: 140px;
	color: rgb(253, 253, 253);
}
.data-info-text {
	font-size: 24px;
	color: rgb(253, 253, 253);
}
@media (max-width: 479px) {
	.data-info {
		background-image: url(../img/data-background.png);
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 370px;
		text-align: center;
		padding: 70px 0 60px 0;
	}
	.data-info-item {
		width: 100px;
		height: 100px;
		border: 3px solid rgb(253, 253, 253);
		border-radius: 50px;
		text-align: center;
		margin: 0 auto;
	}
	.data-info-number {
		font-size: 32px;
		line-height: 94px;
		color: rgb(253, 253, 253);
	}
	.data-info-text {
		font-size: 18px;
		color: rgb(253, 253, 253);
	}
}

/*—————TEAM—————*/
.team {
	text-align: center;
	padding: 85px 0 50px 0;
}
.team-title {
	margin-bottom: 85px;
}
.team-img {
	margin-bottom: 30px;
}
.team-name, .position {
	display: block;
}
.team-name {
	font-size: 22px;
}
.position {
	font-size: 18px;
}

/*—————REVIEWS—————*/
.reviews {
	text-align: center;
	padding: 50px 0 45px 0;
}
.reviews-img {
	margin-bottom: 15px;
}
.reviews-name {
	font-size: 22px;
}
.reviews-text {
	font-size: 18px;
}

.contacts {
	text-align: center;
}

/*—————CONTACTS—————*/
.contacts {
	background-image: url(../img/contacts-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
	padding: 55px 0 0 0;
}
.contacts-logo {
	background-color: rgb(11, 122, 162);
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}
.contacts-logo:before {
	position: absolute;
	content: "";
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -456px -10px;
	width: 41px;
	height: 40px;
	left: 8px;
	right: 0;
	top: 11px;
	bottom: 0;
}
.address {
	text-align: left;
	padding-left: 55px;
	position: relative;
}
.address:before {
	position: absolute;
	content: "";
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 35px;
  height: 50px;
  left: 0px;
  background-position: -358px -10px;
}
.airport-address {
	margin: 0;
	margin-bottom: 60px;
}
.gray {
	color: rgb(82, 82, 82);
	display: block;
	font-size: 20px;
}
.address-info {
	font-size: 22px;
	margin: 0;
	margin-bottom: 5px;
}
.address-data {
	margin: 0;
}
.contacts-tel {
	font-size: 26px;
	text-decoration: none;
	color: #000;
}
.e-address {
	text-align-last: left;
}
.e-address > ul {
	padding: 0;
	margin-top: 20px;
}
.e-mail {
	font-size: 22px;
	color: rgb(82, 82, 82);
	text-decoration: underline;
	position: relative;
}
.e-mail:before {
	  content: "";
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 17px;
    background-position: -413px -10px;
    vertical-align: middle;
    margin-right: 15px;
}
.social-icons {
	margin: 0;
	list-style: none;
	display: inline-block;
}
.social-icons-link {
	display: inline-block;
	margin-right: 40px;
	position: relative;
}
.social-icons-link:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}
.sprite-icon-social-vkontakte:after {
    width: 22px;
    height: 23px;
    background-position: -661px -10px;
}
.sprite-icon-social-facebook:after {
    width: 22px;
    height: 23px;
    background-position: -577px -10px;
}
.sprite-icon-social-instagram:after {
    width: 22px;
    height: 23px;
    background-position: -619px -10px;
}

@media (max-width: 991px) {
	.address, .e-address {
    text-align: left;
    padding-left: 55px;
    position: relative;
    display: block;
    margin: auto;
    width: 350px;
    margin-bottom: 30px;
  }
	.e-address {
		padding-left: 0;
	}
}


